<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="comparewithclipboard.Activator"
            targetID="#CompilationUnitEditorContext">
         <action
               class="comparewithclipboard.popup.actions.CompareWithClipBoardAction"
               id="CompareWithClipboard.action2"
               label="Clipboard"
               menubarPath="compareWithMenu/compareWithGroup"
               tooltip="Compare Selected Text With Clipboard Content">
         </action>
      </viewerContribution>
   </extension>

</plugin>
